#ContainerPacMan {
    display: grid;
    grid-template-columns:repeat(19, 40px);
    grid-template-rows:repeat(22, 40px) ;
    
    
}

#ContainerPacMan h2{
    display: grid;
    grid-area: 1 / 21;
}

